body {

}
button {
    width: 100px;
    margin-top: 10px;
}

label {
    margin-bottom: 5px;
}

.grids{
    display: grid;
    grid-template-rows: auto auto;
    margin-top: 10px;
    padding: 5px;
}

#event{
    display: grid;
    grid-template-columns: auto;
    background-color: darkgrey;
    padding: 15px;
    width: 15%;
    height: auto;
    float: left;
}